/* Home */
/* base html style*/
* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

h1 {
  text-align: center;
}

::placeholder {
  color:#555555;
  opacity: 1;
  font-weight: bold;
}

p {
  font-size: 2;
}

/*Navigation Bar Style*/
.navigation {
  background-color: #1C5D99;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 15px;
  border-bottom: 5px solid#8EAECC;
  width: 100%;
}

.navbuttons {
  list-style: none;
  display: flex;
  padding: 0%;
}

.navbuttons li {
  margin-right: 20px;
  margin-left: 20px;
}

.navbuttons a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 30px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: color 0.3s ease;
}

.navbuttons a:hover {
  color: #8EAECC;
}

/* Container css */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #1C5D99;
  justify-content: center;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 20%;
  margin: 10px;
  padding: 2%;
  text-align: center;
  line-height: 1;
  font-size: 3em;
}

.button {
  background-color: #1C5D99;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.sensor-image-container {
  width: 80%;
  padding: 0.1%;
  height: 500px;
  margin: auto;
  background-color: #1C5D99;
  align-items: center;
  color: white;
}

.button-container {
  margin: auto;
  width: 80%;
}